@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #23242a;

}

/* header */
.bg_vd {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
}

header {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(127,124,255);
    background: linear-gradient(158deg, rgba(127,124,255,0.5) 0%, rgba(11,7,182,0.5) 100%);

}

header h1 {
    font: bold 100px/1 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    transform: rotate(90deg);
    position: absolute;
    left: -15%;
    top: 20%;
    /* position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-150%); */
}


/* header h1::before {
    content: 'All Streetwear';
    display: block;
    font: 14px/1 'Montserrat', sans-serif;
    letter-spacing: 2px;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 140px;
}

header h1::after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background: #fff;
    margin-top: 20px;
} */

header ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    display: flex;
}

header ul li {
    margin-right: 20px;
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a {
    color: #fff;
    font-size: 20px;
}

header ul li a span {
    display: inline-block;
    font-weight: bold;
    opacity: 0.7;
    transform: scale(0.7) translateX(-10px);
}

/* main */
main {
    margin-left: 300px;
    box-sizing: border-box;
    padding: 20px;
}

main ul {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
}

main ul::after {
    content: '';
    display: block;
    clear: both;
}

main ul li {
    float: right;
    width: 100px;
    height: 26px;
    margin-right: 20px;
}

main ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font: bold 7px/26px 'Montserrat', sans-serif;
    color: #aaa;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid #7f7cff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: #2a2d35;
}

main ul li.on a {
    background: #3c424b;
    color: #fff;
}

/* section */
main section {
    width: 100%;
}

main section::after {
    content: '';
    display: block;
    clear: both;
}

main section article {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 12px;
}

main section article div {
    width: 100%;
    height: 100%;
    background: #323741;
    box-sizing: border-box;
    border: 1px solid #3f434c;
    padding: 14px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
}
main section article:hover div{
    border: 1px solid #7f7cff;
}

main section article div img {
    width: 100%;
}

main section article div h2 {
    margin-top: 15px;
    font: bold 11px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 5px;
}

main section article div p {
    font: 10px/1.2 'arial';
    color: #fff;
    opacity: 0.6;
    margin-bottom: 15px;
}

@media screen and (max-width:1599px) {
    header {
        width: 250px;
    }
    header h1{
        left: -30%;
    }
    main {
        margin-left: 250px;
    }

    main section article {
        width: 25%;
    }
}

@media screen and (max-width:1199px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }

    header h1 {
        font: bold 24px/1 'Montserrat', sans-serif;
        transform: translateY(-50%);
        left: 5%;
        top: 50%;
    }

    header ul {
        left: 83%;
        bottom: 25px;
        transform: translateX(0);
    }

    header ul li {
        margin-right: 20px;
    }

    header ul li a {
        font-size: 20px;
    }

    header ul li a span {
        display: none;
    }

    main {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width:899px) {
    header ul {
        left: 80%;
    }

    main section article {
        width: 33.33%;
    }
}

@media screen and (max-width:679px) {
    header ul {
        left: 75%;
    }

    main section article {
        width: 50%;
    }
}

@media screen and (max-width:539px) {
    header ul {
        display: none;
    }

    main section article {
        width: 100%;
    }

    main ul {
        margin-right: 0;
        box-sizing: border-box;
        padding: 0 13px;
    }

    main ul li {
        width: 32%;
        margin-right: 2%;
    }

    main ul li:nth-of-type(1) {
        margin-right: 0;
    }
}